.chrome-extension-FindManyStrings {
  font-style: normal;
  border-radius: 3px;
  text-decoration: none;
}

.chrome-extension-FindManyStrings-style-0 {
  border: 3px solid #40a2e3;
}
.chrome-extension-FindManyStrings-style-1 {
  border: 3px solid #0d9276;
}
.chrome-extension-FindManyStrings-style-2 {
  border: 3px solid #9b4444;
}
.chrome-extension-FindManyStrings-style-3 {
  border: 3px solid #f57d1f;
}
.chrome-extension-FindManyStrings-style-4 {
  border: 3px solid #e8c872;
}
.chrome-extension-FindManyStrings-style-5 {
  border: 3px solid #ff8080;
}
.chrome-extension-FindManyStrings-style-6 {
  border: 3px solid #75d6e2;
}
.chrome-extension-FindManyStrings-style-7 {
  border: 3px solid #1d24ca;
}
.chrome-extension-FindManyStrings-style-8 {
  border: 3px solid #74e291;
}
.chrome-extension-FindManyStrings-style-9 {
  border: 3px solid #dd577a;
}

.chrome-extension-FindManyStrings-style-10 {
  border: 3px solid #d2691e;
}
.chrome-extension-FindManyStrings-style-11 {
  border: 3px solid #ffc0cb;
}
.chrome-extension-FindManyStrings-style-12 {
  border: 3px solid #bdb76b;
}
.chrome-extension-FindManyStrings-style-13 {
  border: 3px solid #00ffff;
}
.chrome-extension-FindManyStrings-style-14 {
  border: 3px solid #9acd32;
}
.chrome-extension-FindManyStrings-style-15 {
  border: 3px solid #40e0d0;
}
.chrome-extension-FindManyStrings-style-16 {
  border: 3px solid #00bfff;
}
.chrome-extension-FindManyStrings-style-17 {
  border: 3px solid #e9967a;
}
.chrome-extension-FindManyStrings-style-18 {
  border: 3px solid #ff69b4;
}
.chrome-extension-FindManyStrings-style-19 {
  border: 3px solid #fa8072;
}
